.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    max-width: 40rem;     
  }
  
  .input input {
    font: inherit;    
    display: block;
    width: calc(100% - 100px);
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    font-size: 120%;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    border: none;
  }
  
  .input input:focus {
    outline: none;
    border-color: #4f005f;
  }

  .input.invalid input{    
    background-color: rgb(253, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: 900;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;;
  }

  .button{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;   
    align-self: baseline; 
    border: none;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }